@model parcial1_hospitales.Models.Hospital

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f9fc;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #2779bd;
            margin-bottom: 20px;
        }

        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }

        dl {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 10px;
            margin-bottom: 20px;
        }

        dt {
            font-weight: bold;
            color: #333;
        }

        dd {
            margin: 0;
        }

        p {
            margin-bottom: 10px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Detalles del hospital</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Direccion
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt class="col-sm-2">
                Doctores
            </dt>
            <dd class="col-sm-10">
                @foreach (var item2 in Model.Doctors)
                {
                    @Html.DisplayFor(modelItem => item2.Name)
                    <br />
                }
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index" class="btn btn-secondary btn-sm">Volver</a>
    </div>
</body>

</html>

