@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:rgba(200,200,200,0.85)">
    <h1 class="display-4">Bienvenido al sistema de hospitales y doctores del gobierno de la ciudad</h1>
    <br>
    <a href="/Hospital"> Ir a Hospitales </a>
    <br>
    <a href="/Doctor"> Ir a Doctores </a>
</div>
