@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <a href="/Hospital"> Ir a Hospitales </a>
    <br>
    <a href="/Patient"> Ir a Pacientes </a>
    <br>
    <a href="/Appointment"> Ir a citas </a>
    <br>
    <a href="/Doctor"> Ir a Doctores </a>
</div>
