@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:rgba(200,200,200,0.85)">
    <h1 class="display-4">Welcome</h1>
    <a href="/Hospital"> Editoso </a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
