@using parcial1_hospitales.ViewModels;

@model PatientViewModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f9fc;
            margin: 0;
        }

        h1 {
            color: #2779bd;
            margin-bottom: 20px;
        }

        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }

        input[type="text"],
        input[type="number"] {
            width: 200px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        label {
            font-weight: bold;
            color: #333;
        }

        button {
            background-color: #2779bd;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #1c6da8;
        }

        p {
            margin-top: 0;
        }

        a {
            text-decoration: none;
            color: #2779bd;
        }

        a:hover {
            text-decoration: underline;
        }

         table {
            border-collapse: collapse;
            width: 100%;
            background-color: #fff;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #dcecff;
        }

        th {
          
            font-weight: bold;
            color: #2779bd;
        }

        .table a {
            margin-right: 5px;
        }

                .btn-primary {
            color: #fff;
            background-color: #2779bd;
            border-color: #2779bd;
        }

    </style>
</head>
<body>
    <h1>Pacientes</h1>

    <form method="get" asp-action="Index">
        <label for="checkbox">Buscar por nombre o edad:</label>
        <input asp-for="filter" type="text">
        
        <button type="submit">Buscar</button>
    </form>
    <br>

    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm">Crear paciente nuevo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Edad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.patients) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas borrar este paciente?')">borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
