html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("https://media.a24.com/p/c85d554fecc9263b4db0eb1db9b059e8/adjuntos/296/imagenes/009/112/0009112627/1200x675/smart/clinicas-1jpeg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer {
  background-color: aliceblue;
}