@using Microsoft.AspNetCore.Identity
@using parcial1_hospitales.Views.Users.ViewModels
@model UserEditViewModel

<h4 class="text-primary">Editar Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="blueish-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"> Nombre del usuario </label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label">Rol</label>
                <select asp-for="Role" asp-items="Model.Roles" class="form-control">
                    <option>Ninguno</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .blueish-form {
        background-color: #f2f7fa;
        padding: 20px;
        border-radius: 4px;
    }
</style>